@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Họ và tên: Trương Đình Tuyển </p>
<p>Mã sinh viên: 2210900134</p>
<p>Lớp: K22CNT3</p>
<p>Email: "loc4571@gmail.com</p>
<p>Điện thoại: 091234569</p>