@model NetCoreLAB6.EF.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Xóa sản phẩm";
}

<h2>@ViewData["Title"]</h2>
<div>Bạn có chắc chắn muốn xóa sản phẩm "@Model.Name"?</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>