@model IEnumerable<BTtl1.Models.Product>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <img src="@item.Image" class="card-img-top" />
                <div class="card-body">
                    <h6 class="card-title">@item.Name</h6>
                    <p class="card-text text-danger fw-bold">@item.Price.ToString("N0") VNĐ</p>
                </div>
            </div>
        </div>
    }
</div>
