@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p><strong>Mã sinh viên:</strong> 2210900134</p>
    <p><strong>Họ và tên:</strong> Truong dinh Tuyen</p>
    <p><strong>Lớp:</strong> K22CNT3</p>
    <p><strong>Email:</strong> <a href="mailto:loc4571j@gmail.com">chungtrinhj@gmail.com</a></p>
    <p>
        <strong>Điện thoại:</strong>
        <a href="tel:012345678">012345678</a>
    </p>
</div>
