<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - TdtuyenDy3 -
        <a asp-area="" asp-controller="TdtHome" asp-action="TdtAbout">Thông tin</a>
    </div>

    <div class="col-3">
        @await Component.InvokeAsync("TdtDemo")
    </div>
</footer>
